.root {
    -fx-background: #292929;
}

* {
    -fx-scale: 2;
}

#top {
    -fx-padding: 10;
}

#welcomeText {
    -fx-font-size: 30;
}

#tiles {
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 5;
}